<?xml version="1.0" encoding="UTF-8"?>
<web-app id="editor.config" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <!-- <display-name>Markdown Editor Developing </display-name> -->
    <display-name>BeginnersBookDemo</display-name>

 <welcome-file-list>
 <welcome-file>index.html</welcome-file>
 </welcome-file-list>


    <servlet>
        <servlet-name>EditorServlet</servlet-name>
        <servlet-class>Editor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditorServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HaloServlet</servlet-name>
        <servlet-class>HaloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HaloServlet</servlet-name>
        <url-pattern>/halo</url-pattern>
    </servlet-mapping>



 <display-name>BeginnersBookDemo</display-name>
 <welcome-file-list>
 <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 
 <servlet>
 <servlet-name>Login</servlet-name>
 <servlet-class>Validation</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>Welcome</servlet-name>
 <servlet-class>WelcomeUser</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>Login</servlet-name>
 <url-pattern>/loginPage</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 <servlet-name>Welcome</servlet-name>
 <url-pattern>/welcome</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
 <welcome-file>index.html</welcome-file>
 </welcome-file-list>


</web-app>
