<!DOCTYPE html>
<html>
<body>




<form action="./login" method="POST">
  <label for="username">username:</label>
  <input type="text" id="username" name="username" value=<%=username %> ><br>
  
  <label for="password">password:</label>
  <input type="text" id="password" name="password" value=<%=password %> ><br>


  <label for="redirect">redirect:</label><br>
  <input type="text" id="redirect" name="redirect" value=<%=redirect %> > <br>

  <br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>